@model IEnumerable<DigitalStore.Models.EF.OrderDetail>
@if (Model != null && Model.Any())
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Game.Name</td>
                    <td>@item.Price</td>
                    <td>@DigitalStore.Common.Common.FormatNumber((item.Price), 0)</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}


